<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health&Taste</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/restaurant.png"
    />
    <link rel="stylesheet" href="/css/breakfast.css" type="text/css">
    <script src="https://kit.fontawesome.com/e6f9fb07b2.js" crossorigin="anonymous"></script>
</head>
    <body>
        <button><a href="/">Home</a></button>
        <h2>Breakfast</h2>
        <div class="row">
            <div class="column">
              <img  id= "myImg"src="/public/imgs/avocado-Toast.jpg" alt="INGREDIENTS:<br><br> -Organic Avocado <br> -Whole Bread">
              <p>Avocado Toast</p>

            <!-- The Modal -->
            <div id="myModal" class="modal">
                <!-- The Close Button -->
                <span class="close">&times;</span>
                <!-- Modal Content (The Image) -->
                <img class="modal-content" id="img01">
            <!-- Modal Caption (Image Text) -->
            <div id="caption"></div>
            </div>

              <img id= "myImg2" src="/public/imgs/egg.jpg" alt="INGREDIENTS:<br><br> -Eggs <br> -Whole Bread <br> -Lemon">
              <p>Eggs Benedict</p>
                <!-- The Modal -->
                <div id="myModal2" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img02">
                <div id="caption2"></div>
                </div>

            
              <img id= "myImg3" src="/public/imgs/fruits300.jpg" alt="INGREDIENTS:<br><br> -Yogurt <br> -Berries">
              <p>Fruit Salad</p>
               <div id="myModal3" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img03">
                <div id="caption3"></div>
                </div>
            </div>

            <div class="column">
              <img id= "myImg4" src="/public/imgs/cereal.jpg" alt="INGREDIENTS:<br><br> -Carrots <br> -Tomatoes <br> -Cucumber">
              <p>Morning Veggies</p>
              <!-- The Modal -->
               <div id="myModal4" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img04">
                <div id="caption4"></div>
                </div>

              <img id= "myImg5" src="/public/imgs/berries.jpg" alt="INGREDIENTS:<br><br> -Pancakes <br> -Blueberries <br> -Blackberries">
              <p>Pancake Berries</p>
                <!-- The Modal -->
              <div id="myModal5" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img05">
              <div id="caption5"></div>
              </div>

              <img id= "myImg6" src="/public/imgs/yogurt.jpg" alt="INGREDIENTS:<br><br> -Yogurt <br> -Blueberries <br> -Strawberries <br> -Mint <br> -Apple">
              <p>Yogurt</p>
              <div id="myModal6" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img06">
                <div id="caption6"></div>
              </div>

            </div>
            <div class="column">
              <img id= "myImg7" src="/public/imgs/eggToast.jpg" alt="INGREDIENTS:<br><br> -Cheese <br> -Eggs <br> -Toast">
              <p>Sunny Side Down Eggs</p>
              <div id="myModal7" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img07">
                <div id="caption7"></div>
              </div>

              <img id= "myImg8" src="/public/imgs/croissant.jpg" alt="INGREDIENTS:<br><br> -Avocado <br> -Almonds <br> -Croissant">
              <p>Avocado with Croissant</p>
              <div id="myModal8" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img08">
                <div id="caption8"></div>
              </div>

              <img id= "myImg9" src="/public/imgs/greens.jpg" alt="INGREDIENTS:<br><br> -Avocado <br> -Spinach <br> -Toast">
              <p>Veggie Toast</p>
              <div id="myModal9" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img09">
                <div id="caption9"></div>
              </div>
            </div>
          </div>
          <script src="js/breakfast.js"></script>
    </body>
</html>

