<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health&Taste</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/restaurant.png"
    />
    <link rel="stylesheet" href="/css/breakfast.css" type="text/css">
    <script src="https://kit.fontawesome.com/e6f9fb07b2.js" crossorigin="anonymous"></script>
</head>
    <body>
        <button><a href="/">Home</a></button>
        <h2>Dinner</h2>
        <div class="row">
            <div class="column">
              <img  id= "myImg"src="/public/imgs/zagrebacka.jpg" alt="INGREDIENTS:<br><br> -Pork <br> -Carrots <br> -Cabbage <br> -Lemon Sauce">
              <p>Schnitzel</p>

            <!-- The Modal -->
            <div id="myModal" class="modal">
                <!-- The Close Button -->
                <span class="close">&times;</span>
                <!-- Modal Content (The Image) -->
                <img class="modal-content" id="img01">
            <!-- Modal Caption (Image Text) -->
            <div id="caption"></div>
            </div>

              <img id= "myImg2" src="/public/imgs/tomato-soup.jpg" alt="INGREDIENTS:<br><br> -Tortelli <br> -Tomatoes <br> -Basil">
              <p>Tortelli Tomato Soup</p>
                <!-- The Modal -->
                <div id="myModal2" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img02">
                <div id="caption2"></div>
                </div>

            
              <img id= "myImg3" src="/public/imgs/king-salmon.jpg" alt="INGREDIENTS:<br><br> -Salmon <br> -Tomatoes <br> -Arugula <br> -Saffron">
              <p>King Salmon</p>
               <div id="myModal3" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img03">
                <div id="caption3"></div>
                </div>
            </div>

            <div class="column">
              <img id= "myImg4" src="/public/imgs/oisters.jpg" alt="INGREDIENTS:<br><br> -Oisters <br> -Lemon <br> -Red Sauce">
              <p>Oisters</p>
              <!-- The Modal -->
               <div id="myModal4" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img04">
                <div id="caption4"></div>
                </div>

              <img id= "myImg5" src="/public/imgs/pasta.jpg" alt="INGREDIENTS:<br><br> -Fettuccine <br> -Mushrooms <br> -Cheese">
              <p>Fettuccine</p>
                <!-- The Modal -->
              <div id="myModal5" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img05">
              <div id="caption5"></div>
              </div>

              <img id= "myImg6" src="/public/imgs/lobster.jpg" alt="INGREDIENTS:<br><br> -Lobster <br> -Potatoes ">
              <p>Lobster</p>
              <div id="myModal6" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img06">
                <div id="caption6"></div>
              </div>

            </div>
            <div class="column">
              <img id= "myImg7" src="/public/imgs/hamburger.jpg" alt="INGREDIENTS:<br><br> -Beef Hamburger <br> -Fries <br> -Tomatoes <br> -White Sauce">
              <p>Hamburger</p>
              <div id="myModal7" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img07">
                <div id="caption7"></div>
              </div>

              <img id= "myImg8" src="/public/imgs/crab.jpg" alt="INGREDIENTS:<br><br> -Crab with vegetables <br> -Fries <br> -Lettuce Salad">
              <p>Grilled Crab</p>
              <div id="myModal8" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img08">
                <div id="caption8"></div>
              </div>

              <img id= "myImg9" src="/public/imgs/fancy-salad.jpg" alt="INGREDIENTS:<br><br> -Cucumber<br> -Beans <br> -Spinach <br> -Riccola">
              <p>Cucumber Salad</p>
              <div id="myModal9" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img09">
                <div id="caption9"></div>
              </div>
            </div>
          </div>
          <script src="js/breakfast.js"></script>
    </body>
</html>

