<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health&Taste</title>
    <link rel="stylesheet" href="/css/editReservation.css" type="text/css">
    <script src="https://kit.fontawesome.com/e6f9fb07b2.js" crossorigin="anonymous"></script>
</head>
    <body>
      <section class="container">
        <header>Change your reservation</header>
        <button class="buttonTable"><a href="/tableToEdit">Change only my table</a></button>
        <button class="buttonToChanges"><a href="/makeChanges">Make more changes</a></button>
        <form action="/edit/deleteReservation?_method=DELETE" class="form" method="POST">
            <button>Delete reservation</button>
        </form>
        </section>
    </body>
</html>

