<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health&Taste</title>
    <link rel="stylesheet" href="/css/edit.css" type="text/css">
    <script src="https://kit.fontawesome.com/e6f9fb07b2.js" crossorigin="anonymous"></script>
</head>
    <body>
        <section class="container">
            <header>CHANGE YOUR RESERVATION</header>
            <form action="/edit/editSession" class="form" method="POST">
                <div>
                    <!-- <label for="id">Please enter your reservation Id</label> -->
                    <input type="text" id="id" name="id" placeholder="Enter Reservation Number"/> 
                </div>
                <button type="submit" value="Upload">Submit</button>
            </form>
        </section>
    </body>
</html>

