<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="https://kit.fontawesome.com/e6f9fb07b2.js" crossorigin="anonymous"></script>
</head>
    <body>
        <main>
            <nav>
                <a href="#" id="hambi">
                    <section class="lineas"></section>
                    <section class="lineas"></section>
                    <section class="lineas"></section>
                </a>
                <ul>
                    <li>Home</li>
                    <li>About Us</li>
                    <li>Menu</li>
                    <li>Order Now</li>
                    <li>Blog</li>
                    <li>Location</li>
                    <li><i class="fa-solid fa-magnifying-glass"></i></li>
                </ul>
            </nav>
            <section>
                <h1>Welcome To Our Cuisine Restaurant </h1>
                <button class="fa-solid fa-calendar-days reservation"><a href="/bookForm">Make a reservation</a></button>
                <div>
                    <i class="fa-brands fa-facebook reservation"></i>
                    <i class="fa-brands fa-twitter reservation"></i>
                    <i class="fa-brands fa-instagram reservation"></i>    
                </div> 
            </section>
        </main>
        <section id="discover">
            <div>
                <span>About us</span>
                <h1>Discover Our Restaurant Story</h1>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo est qui aliquid voluptate possimus! 
                    Animi ducimus dignissimos nobis optio non quaerat, enim repudiandae quas! Delectus veniam quaerat error iste illo?
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo est qui aliquid voluptate possimus! 
                    Animi ducimus dignissimos nobis optio non quaerat, enim repudiandae quas! Delectus veniam quaerat error iste illo?
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br><br> 
                    Nemo est qui aliquid voluptate possimus!
                    Animi ducimus dignissimos nobis optio non quaerat, enim repudiandae quas! Delectus veniam quaerat error iste illo?
                </p>
                <button>Discover Menu <i class="fa-solid fa-arrow-right"></i></button> 
            </div>
        </section>
        <section id="speciality">
            <span>
                Order Online Now
            </span>
            <h1>Our Speciality Cuisine</h1>
            <ul>
                <li>Breakfast</li>
                <li>Launch</li>
                <li> Dinner</li>
                <li> Dessert</li>
                <li>Shake</li>
            </ul>
            <div>
                <section><img src="https://placekitten.com/300/300" alt="salad"></section>
                <section><img src="https://placekitten.com/300/300" alt="salmon"></section>
                <section><img src="https://placekitten.com/g/301/301" alt="sendvic"></section>
                <section><img src="https://placekitten.com/g/300/300" alt="egg"></section>
            </div>

        </section>

        <section id="hours">
            <span id="book">Book Table</span>
            <h1>Opening Hours</h1>
            <i class="fa-solid fa-phone"></i>
            <span>Call Now</span>
            <span>+12345 678 910</span>
            <div>
                <section class="dias">Monday to Tuesday</section>
                <section class="dias">Friday to Sunday</section>
                <section class="horas">09:00am-22:00pm</section>
                <section class="horas">11:00am-22:00pm</section>
            </div>
            <img src="https://placekitten.com/350/250">
        </section>
        <footer>
            <span id="test">Testimonials </span>
            <h2>Customer Say</h2>
            <img src="https://placekitten.com/70/70">
            <span>Mr John Smith</span>
            <span>Art Director</span>
            <i class="fa-solid fa-star"></i>

            <p>
                Delicious boneless, skinless chicken breat and fresh mushrooms in garlic and white wine sauce. Cuisine is 
                a team work of Cuisine Restaurant cafe, we aim at promoting the foodstuff industry through the branches. We stablish and throughthe new dishes.
            </p>
        </footer>

    </body>
</html>

