<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health&Taste</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/restaurant.png"
    />
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="https://kit.fontawesome.com/e6f9fb07b2.js" crossorigin="anonymous"></script>
</head>
    <body>
        <div>
        <main>
            <div>
                <div>
                <div id="hambi">
                    <img src="/public/imgs/hambii.png"/>
                </div>
    
                <ul class="nav">
                    <li class="navList"><a href="/menu">Menu |</a></li>
                    <li class="navList"><a href="/gallery#">Gallery |</a></li>
                    <li class="navList"><a href="/location">Location </a></li>
                </ul>
            </div>
            <section>
                <h1>Welcome To Our Cuisine Restaurant </h1>
                <button class="fa-solid fa-calendar-days reservation"><a href="/bookForm">Make a reservation</a></button>
                <div class="socialMedia">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>    
                </div> 
            </section>

            </div>
            
        </main>
        <div id="discover">
            <div>
                <span>About us</span>
                <h1>Discover Our Restaurant Story</h1>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo est qui aliquid voluptate possimus! 
                    Animi ducimus dignissimos nobis optio non quaerat, enim repudiandae quas! Delectus veniam quaerat error iste illo?
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo est qui aliquid voluptate possimus! 
                    Animi ducimus dignissimos nobis optio non quaerat, enim repudiandae quas! Delectus veniam quaerat error iste illo?
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br><br> 
                    Nemo est qui aliquid voluptate possimus!
                    Animi ducimus dignissimos nobis optio non quaerat, enim repudiandae quas! Delectus veniam quaerat error iste illo?
                </p>
                <!-- <button>Discover Menu <i class="fa-solid fa-arrow-right"></i></button>  -->
            </div>
        </div>
        <section id="speciality">
            <h1>Our Speciality Cuisine</h1>
            <ul>
                <li><a href="/breakfast">Breakfast</a></li>
                <li><a href="/lunch">Lunch</a></li>
                <li><a href="/dinner">Dinner</a></li>
            </ul>
            <div>
                <section><img src="public/imgs/fruits.jpg" alt="fruits"/><br><h3>Fruits</h3></section>
                <section><img src="public/imgs/salads.jpg" alt="salads"><br><h3>Salads</h3></section>
                <section><img src="public/imgs/meats.jpg" alt="meat"><br><h3>Meats</h3></section>
                <section><img src="public/imgs/sea-food.jpg" alt="salmon"/><br><h3>Sea Food</h3></section>
            </div>

        </section>

        <section id="wine">
                <div id="sips">
                    <h2>Enjoy our variety of wine selection!</h2>
                </div>
                <div id="bottle">
                    <img src="/public/imgs/wine.jpg" alt="wine">
                </div>
        </section>

        <section id="hours">
            <h1>Opening Hours</h1>
            <i class="fa-solid fa-phone"></i>
            <span><a href="tel:+12345678910">Call Now</a></span>
            <span>+12345 678 910</span>
            <div class="sate">
                <div>
                    <section class="dias">Monday to Friday</section>
                    <section class="horas">09:00am-10:00pm</section>
                </div>
                <div>
                    <section class="dias">Saturday to Sunday</section>
                    <section class="horas">09:00am-11:00pm</section>
                </div>
            </div>
            <div class="image-container">
                <img class="bottomImg" src="/public/imgs/callZ.jpg" alt="Phone call"/>
            </div>
        </section>
        <footer >
            ©Restaurants| Website created by Brenda Loncaric
        </footer>
        </div>
        <script src="js/index.js"></script>
    </body>
</html>
