<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health&Taste</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/restaurant.png"
    />
    <link rel="stylesheet" href="/css/breakfast.css" type="text/css">
    <script src="https://kit.fontawesome.com/e6f9fb07b2.js" crossorigin="anonymous"></script>
</head>
    <body>
        <button><a href="/">Home</a></button>
        <h2>Lunch</h2>
        <div class="row">
            <div class="column">
              <img  id= "myImg"src="/public/imgs/sesame-chicken.jpg" alt="INGREDIENTS:<br><br> -Chicken <br> -Spinach <br> -Carrots <br> -Lemon <br> -Cabbage <br> -Tomatoes">
              <p>Sesame Chicken</p>

            <!-- The Modal -->
            <div id="myModal" class="modal">
                <!-- The Close Button -->
                <span class="close">&times;</span>
                <!-- Modal Content (The Image) -->
                <img class="modal-content" id="img01">
            <!-- Modal Caption (Image Text) -->
            <div id="caption"></div>
            </div>

              <img id= "myImg2" src="/public/imgs/vegan-spaguete.jpg" alt="INGREDIENTS:<br><br> -Spaguete <br> -Tomatoes <br> -Spinach <br> -Mozzarella">
              <p>Vegan Spaguete</p>
                <!-- The Modal -->
                <div id="myModal2" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img02">
                <div id="caption2"></div>
                </div>

            
              <img id= "myImg3" src="/public/imgs/salmon.jpg" alt="INGREDIENTS:<br><br> -Salmon <br> -Avocado <br> -Lemon <br> -Lettuce <br> -Tomatoes">
              <p>Grilled Salmon</p>
               <div id="myModal3" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img03">
                <div id="caption3"></div>
                </div>
            </div>

            <div class="column">
              <img id= "myImg4" src="/public/imgs/beef.jpg" alt="INGREDIENTS:<br><br> -Beef <br> -Tomatoes <br> -Black Pepper Sauce <br> -Asparagus">
              <p>Beef Tenderloin</p>
              <!-- The Modal -->
               <div id="myModal4" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img04">
                <div id="caption4"></div>
                </div>

              <img id= "myImg5" src="/public/imgs/roasted-pig.jpg" alt="INGREDIENTS:<br><br> -Pork <br> -Tomatoes <br> -Asparagus">
              <p>Pork Loin</p>
                <!-- The Modal -->
              <div id="myModal5" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img05">
              <div id="caption5"></div>
              </div>

              <img id= "myImg6" src="/public/imgs/coconut-chicken.jpg" alt="INGREDIENTS:<br><br> -Chicken <br> -Green Beans <br> -Young Onions <br> -Coconut ">
              <p>Coconut Chicken</p>
              <div id="myModal6" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img06">
                <div id="caption6"></div>
              </div>

            </div>
            <div class="column">
              <img id= "myImg7" src="/public/imgs/shrimp-salad.jpg" alt="INGREDIENTS:<br><br> -Shrimps <br> -Spinach <br> -Cucumber <br> -Carrots">
              <p>Shrimp Salad</p>
              <div id="myModal7" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img07">
                <div id="caption7"></div>
              </div>

              <img id= "myImg8" src="/public/imgs/cesar-salad.jpg" alt="INGREDIENTS:<br><br> -Lettuce <br> -Bell Peppers <br> -Mozzarella <br> -Tomatoes">
              <p>Cesar Salad</p>
              <div id="myModal8" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img08">
                <div id="caption8"></div>
              </div>

              <img id= "myImg9" src="/public/imgs/rice-beans.jpg" alt="INGREDIENTS:<br><br> -Rice<br> -Beans <br> -Avocado <br> -Cilantro">
              <p>Vegan Rice&Beans</p>
              <div id="myModal9" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img09">
                <div id="caption9"></div>
              </div>
            </div>
          </div>
          <script src="js/breakfast.js"></script>
    </body>
</html>

