<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/tables.css" type="text/css">
    <script src="https://kit.fontawesome.com/e6f9fb07b2.js" crossorigin="anonymous"></script>
</head>
    <body>
      <div class="contenedor">
        <div class="container">
          <div class="screen">View</div>
 
          <div class="row">
            <div class="seat round">A2</div>
            <div class="seat round">C2</div>
            <div class="seat round">B2</div>
            <div class="seat round">D2</div>
            <div class="seat round">F2</div>
            <div class="seat round">G2</div>
            <div class="seat last-tables">H4</div>
           
          </div>

          <div class="kitchen">
            <div class="wra">
              <div>
                <div class="seat middle">A4</div>
                <div class="seat middle">B4</div>
                <div class="seat middle">C4</div>
              </div>
              <div class="hodnik"></div>
              
              <div>
                <div class="seat middle">D4</div>
                <div class="seat middle">F4</div>
                <div class="seat middle">G4</div>
               
               
              </div>
              <div class="hodnik"></div>
              <div>
                <div class="seat middle">H4</div>
                <div class="seat middle">I4</div>
                <div class="seat middle">J4</div>
               
              </div>
            </div>
            
            <div>
              <div class="seat bar-chairs">A1</div>
              <div class="seat bar-chairs">B1</div>
              <div class="seat bar-chairs">C1</div>
              <div class="seat bar-chairs">D1</div>
              <div class="seat bar-chairs">E1</div>
              <div class="seat bar-chairs">F1</div>
            </div>
            <div class="bar">BAR</div>

          </div>
          
    
          <div class="row">
            <div class="seat round">J2</div>
            <div class="seat round">K2</div>
            <div class="seat round">L2</div>
            <div class="seat round">M2</div>
            <div class="seat round">N2</div>
            <div class="seat round">O2</div>
            <div class="seat round">Q2</div>
          
          </div>
    
          <div class="row">
            <div class="seat last">A6</div>
            <div class="seat last">B6</div>
    
            <div class="seat last">C6</div>
            <div class="seat last">D6</div>
            <div class="seat last">E6</div>
      
          </div>
          <div class="entrance">Entrance</div>
    
          <div class="row">
            <div class="seat last-tables">K4</div>
            <div class="seat last-tables">L4</div>
            <div class="seat last-tables">M4</div>
            <div class="seat last-tables">N4</div>
            <div class="seat last-tables">O4</div>
            
          </div>
            
          </div>
        </div>
     
    
            </tbody>
            </table>     
          </div>
          <button class="noTable"><a href="/final">NO TABLE PREFERENCE</a></button>
          <script src="js/main.js"></script>
    </body>
</html>

