*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  .logout{
    margin-left: auto;
    width: 100px;
    height: 30px;
  }

  a{
    text-decoration: none;
    color: rgb(247, 124, 124);
  }

  header{
    font-weight: bold;
    font-size: x-large;
    margin-left: 2%;
  }

  div{
    display: flex;
    flex-direction: column;
  }

  li{
    list-style: none;
    background-color: rgb(227, 223, 223);
    width: 20%;
    font-size: x-large;
    margin-left: 2%;
  }
  
  span{
    margin-bottom: 3%;
    padding-top: 1%;
  }

  .today{
    font-size: x-large;
  }

  .reservationButtons{
    width: 50%;
    margin-bottom: 1%;
    font-size: 1rem;
    cursor: pointer;
  }

  .input-box{
    width: 50%;
    margin-top: 20px;
    color: #333;
    position: relative;
    height: 60px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    margin-top: 8px;
    padding: 0 15px;
  }

  input{
    width: 20%;
    margin-left: 1%;
  }

  label{
    margin-left: 1%;
    font-weight: bold;
  }


  .form-button{
    width: 20%;
    margin-left: 1%;
  }
  
  form{
    margin-bottom: 1%;
  }
