*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  button{
    margin-left: auto;
    width: 100px;
    height: 30px;
  }

  a{
    text-decoration: none;
    color: rgb(247, 124, 124);
  }

  header{
    font-weight: bold;
    font-size: x-large;
  }

  div{
    display: flex;
    flex-direction: column;
  }

  li{
    list-style: none;
    background-color: rgb(227, 223, 223);
    width: 20%;
    font-size: x-large;
  }
  
  span{
    margin-bottom: 3%;
  }

  .today{
    font-size: x-large;
  }

