body{
    background-color: rgb(120, 81, 9);
}
button{
    width: 70px;
    height: 25px;
    font-size: large;
    cursor: pointer;
  }
  a{
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-style: italic;
    text-align: center;
    color: rgb(94, 10, 10);
}

div{
    padding-left: 12%;
}

.homeButton{
    background-color: rgb(255, 255, 255);
    color: rgb(94, 9, 10);
    border-radius: 10px;
    margin: 1%;
}
.homeButton:hover{
    background-color: rgb(128, 127, 127);
}

@media screen and (max-width: 600px){
   img{
    width: 50%;
   }
}