body{
    background-color: rgb(252, 248, 248);
}

button{
    width: 70px;
    height: 25px;
    font-size: large;
    cursor: pointer;
  }
  a{
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-style: italic;
    text-align: center;
    color: rgb(94, 10, 10);

    /* position: absolute; */
}

p{
    text-align: center;
}

iframe{
    display: block;
    margin: auto;
  }